.movies {

    display: flex;
    flex-wrap: wrap;
    
}

.card {

    padding: 10px;
    margin: 5px;
    border: 1px solid gainsboro;
    border-radius: 10px;

}
.image{
    width: 100%;
}
