.movies {

    display: flex;
    flex-wrap: wrap;
    
}

.card {

    padding: 10px;
    margin: 30px 2px;
    border: 1px solid gainsboro;
    border-radius: 10px;

}
.image{
    width: 100%;
    transition: transform 0.4s ;
}
.image:hover {
    
    transform: scale(1.1)

}

.botn {
    border: 1px solid gray;
    border-radius: 5px;
    background: linear-gradient(0deg,white,rgb(37, 37, 186) ,rgb(32, 52, 90) );
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    transition: all 0.4s;
    padding: 5px;
}
.botn:hover {
    background: rgb(209, 39, 215);
    color: rgb(255, 255, 255);
}

.image-card{
    width: 100%;
    transition: transform 0.4s ;
}
.image-card:hover {
    
    transform: scale(0.8) 

}